Repository sanity-io/sanity, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rexxars, @bjoerge, @RitaDias, @skogsmaskin, @thebiggianthead, @hermanwikner

fix(vision): change tooltip import path
  packages/@sanity/vision/src/components/VisionGui.tsx
Owners: none

chore(e2e): fix report merging
  .github/workflows/e2e.yml
Owners: none

fix(mutator): match deep set/setIfMissing behavior
  packages/@sanity/mutator/src/patch/Patcher.ts
  packages/@sanity/mutator/src/patch/SetIfMissingPatch.ts
  packages/@sanity/mutator/src/patch/SetPatch.ts
  packages/@sanity/mutator/test/patchExamples/set.ts
  packages/@sanity/mutator/test/patchExamples/setIfMissing.ts
Owners: none

chore: update snapshots
  packages/sanity/src/core/studio/Studio.test.tsx
Owners: none

chore(deps): update dependency @babel/traverse to ^7.23.2
  packages/@sanity/cli/package.json
Owners: @rexxars

Adds lock file
  yarn.lock
Owners: none

fix(deps): bump @sanity/ui to latest
  dev/design-studio/package.json
  dev/test-studio/package.json
  examples/ecommerce-studio/package.json
  packages/@sanity/portable-text-editor/package.json
  packages/@sanity/vision/package.json
  packages/sanity/package.json
  yarn.lock
Owners: @skogsmaskin

Revert "chore(deps): update dependency @tanstack/react-virtual to v3.0.0-beta.68 (#5028)"
  packages/sanity/package.json
  yarn.lock
Owners: none

fix(core/form/inputs): fix scrolling of annotation toolbar popover
  packages/sanity/src/core/form/inputs/PortableText/object/AnnotationToolbarPopover.tsx
Owners: @skogsmaskin

test(playwright-ct): add test for annotation toolbar popover visibility
  packages/sanity/playwright-ct/tests/formBuilder/inputs/PortableText/Annotations.spec.tsx
Owners: none

fix(core/inputs): fix issue with toolbar popover visibility toggling
  packages/sanity/src/core/form/inputs/PortableText/object/Annotation.tsx
  packages/sanity/src/core/form/inputs/PortableText/object/AnnotationToolbarPopover.tsx
Owners: @skogsmaskin

fix(core/form/inputs): fix scrolling of annotation toolbar popover
  packages/sanity/src/core/form/inputs/PortableText/object/AnnotationToolbarPopover.tsx
Owners: @skogsmaskin

fix(core/inputs): fix issue with toolbar popover visibility toggling
  packages/sanity/src/core/form/inputs/PortableText/object/Annotation.tsx
  packages/sanity/src/core/form/inputs/PortableText/object/AnnotationToolbarPopover.tsx
Owners: @skogsmaskin

test(playwright-ct): add test for annotation toolbar popover visibility
  packages/sanity/playwright-ct/tests/formBuilder/inputs/PortableText/Annotations.spec.tsx
Owners: none

fix(portable-text-editor): allow overriding onKeyDown, onFocus, onBlur for Editable
  packages/@sanity/portable-text-editor/src/editor/Editable.tsx
Owners: @skogsmaskin

fix(src): fix up content in StudioUI tooltips, remove comment
  packages/sanity/src/core/components/collapseMenu/CollapseMenu.tsx
  packages/sanity/src/core/form/inputs/ReferenceInput/PreviewReferenceValue.tsx
  packages/sanity/src/core/form/inputs/arrays/ArrayOfObjectsInput/ArrayOfObjectsFunctions.tsx
  packages/sanity/src/core/form/inputs/arrays/ArrayOfPrimitivesInput/ArrayOfPrimitivesFunctions.tsx
  packages/sanity/src/core/studio/components/navbar/search/components/searchResults/item/DebugOverlay.tsx
  packages/sanity/src/desk/components/DraftStatus.tsx
  packages/sanity/src/desk/components/PublishedStatus.tsx
  packages/sanity/src/desk/components/confirmDeleteDialog/ConfirmDeleteDialogBody.styles.tsx
  packages/sanity/src/ui/tooltip/Tooltip.tsx
Owners: @bjoerge

fix(portable-text-editor): specify InputEvent event type for TS-type
  packages/@sanity/portable-text-editor/src/editor/Editable.tsx
  packages/@sanity/portable-text-editor/src/types/editor.ts
Owners: @skogsmaskin

chore(renovatebot): use the correct group name for dev deps
  renovate.json
Owners: none

doc(form): add doc and example for components extention of block type
  packages/sanity/src/core/form/types/definitionExtensions.ts
Owners: @bjoerge

chore(renovate): don't group dev updates
  renovate.json
Owners: none

fix(portable-text-editor): fix issue where all the content is deleted
  packages/@sanity/portable-text-editor/src/editor/plugins/createWithEditableAPI.ts
Owners: @skogsmaskin

fix(portable-text-editor): ensure that the range is valid before deleting
  packages/@sanity/portable-text-editor/src/editor/plugins/createWithEditableAPI.ts
Owners: @skogsmaskin

doc(form): add doc and example for components extention of block type (#5059)
  packages/sanity/src/core/form/types/definitionExtensions.ts
Owners: @bjoerge

fix(portable-text-editor): allow user event handlers on Editable component (#5058)
  packages/@sanity/portable-text-editor/src/editor/Editable.tsx
  packages/@sanity/portable-text-editor/src/types/editor.ts
Owners: @skogsmaskin

chore(e2e): add comment linking to env var usage
  .github/workflows/e2e.yml
Owners: none

fix(portable-text-editor): fix issues with delete transforms
  packages/@sanity/portable-text-editor/src/editor/plugins/createWithEditableAPI.ts
Owners: @skogsmaskin

test(portable-text-editor): write more tests for .delete function
  packages/@sanity/portable-text-editor/src/editor/plugins/__tests__/withEditableAPIDelete.test.tsx
Owners: @skogsmaskin

chore(e2e): fix report merging (#5045)
  .github/workflows/e2e.yml
Owners: none

chore(test): run unit tests in shards
  .github/workflows/test.yml
Owners: none

chore(test): make global setup safe for running in shards
  packages/@sanity/cli/test/shared/globalSetup.ts
  packages/@sanity/cli/test/shared/globalTeardown.ts
Owners: @rexxars

fix(mutator): apply `setIfMissing` prior to `set`
  packages/@sanity/mutator/src/patch/parse.ts
  packages/@sanity/mutator/test/patch.test.ts
  packages/@sanity/mutator/test/patchExamples/mixed.ts
Owners: none

fix(mutator): restore greater than/less than in jsonmatch constraints
  packages/@sanity/mutator/src/jsonpath/tokenize.ts
  packages/@sanity/mutator/test/parse.test.ts
  packages/@sanity/mutator/test/patchExamples/set.ts
Owners: none

chore(test): pass shard identifier to testId
  .github/workflows/test.yml
  packages/@sanity/cli/test/shared/environment.ts
Owners: @rexxars

fix(deps): bump @sanity/icons to latest
  dev/design-studio/package.json
  dev/test-studio/package.json
  packages/@sanity/cli/src/actions/init-project/templates/getStarted.ts
  packages/@sanity/cli/src/actions/init-project/templates/shopify.ts
  packages/@sanity/cli/src/actions/init-project/templates/shopifyOnline.ts
  packages/@sanity/vision/package.json
  packages/sanity/package.json
  yarn.lock
Owners: @rexxars, @thebiggianthead

chore(i18n): add no-literal-string lint exceptions for __workshop__ directories
  packages/sanity/src/core/changeIndicators/__workshop__/.eslintrc
  packages/sanity/src/core/components/collapseMenu/__workshop__/.eslintrc
  packages/sanity/src/core/components/commandList/__workshop__/.eslintrc
  packages/sanity/src/core/components/image/__workshop__/.eslintrc
  packages/sanity/src/core/components/previewCard/__workshop__/.eslintrc
  packages/sanity/src/core/components/previews/__workshop__/.eslintrc
  packages/sanity/src/core/components/rovingFocus/__workshop__/.eslintrc
  packages/sanity/src/core/components/textWithTone/__workshop__/.eslintrc
  packages/sanity/src/core/components/userAvatar/__workshop__/.eslintrc
  packages/sanity/src/core/field/__workshop__/.eslintrc
  packages/sanity/src/core/form/__workshop__/.eslintrc
  packages/sanity/src/core/form/components/formField/__workshop__/.eslintrc
  packages/sanity/src/core/form/inputs/PortableText/__workshop__/.eslintrc
  packages/sanity/src/core/form/inputs/__workshop__/.eslintrc
  packages/sanity/src/core/form/inputs/files/__workshop__/.eslintrc
  packages/sanity/src/core/preview/__workshop__/.eslintrc
  packages/sanity/src/core/schema/__workshop__/.eslintrc
  packages/sanity/src/core/store/_legacy/__workshop__/.eslintrc
  packages/sanity/src/core/studio/components/navbar/__workshop__/.eslintrc
  packages/sanity/src/core/studio/components/navbar/search/__workshop__/.eslintrc
  packages/sanity/src/desk/__workshop__/.eslintrc
  packages/sanity/src/desk/components/pane/__workshop__/.eslintrc
  packages/sanity/src/desk/panes/document/statusBar/__workshop__/.eslintrc
  packages/sanity/src/desk/panes/document/timeline/__workshop__/.eslintrc
Owners: @bjoerge, @skogsmaskin, @RitaDias

fix(mutator): apply `setIfMissing` prior to `set` (#5062)
  packages/@sanity/mutator/src/patch/parse.ts
  packages/@sanity/mutator/test/patch.test.ts
  packages/@sanity/mutator/test/patchExamples/mixed.ts
Owners: none

feat(core): use platform-aware hotkeys
  packages/sanity/src/core/components/Hotkeys.tsx
  packages/sanity/src/core/components/StatusButton.tsx
  packages/sanity/src/core/components/index.ts
  packages/sanity/src/desk/panes/document/statusBar/ActionMenuButton.tsx
  packages/sanity/src/desk/panes/document/statusBar/DocumentStatusBarActions.tsx
Owners: none

chore(i18n): add lint exceptions for __tests__
  packages/sanity/src/core/components/commandList/__tests__/.eslintrc
  packages/sanity/src/core/form/inputs/PortableText/_legacyDefaultParts/__tests__/.eslintrc
Owners: @skogsmaskin

fix(core): add two arguments to forwardRef render function
  packages/sanity/src/core/components/TooltipOfDisabled.tsx
Owners: none

fix(deps): bump @sanity/ui to latest (#5056)
  dev/design-studio/package.json
  dev/test-studio/package.json
  examples/ecommerce-studio/package.json
  packages/@sanity/cli/src/actions/init-project/templates/getStarted.ts
  packages/@sanity/cli/src/actions/init-project/templates/shopify.ts
  packages/@sanity/cli/src/actions/init-project/templates/shopifyOnline.ts
  packages/@sanity/portable-text-editor/package.json
  packages/@sanity/vision/package.json
  packages/sanity/package.json
  yarn.lock
Owners: @rexxars, @thebiggianthead, @skogsmaskin

.github/CODEOWNERS:

# These owners can be changed and added to in the future,
# for now these are the main people that we are required to have eyes on PRs
# that changed items in the given spaces

# ------------- Packages
# Espen owns any file in `/packages/@sanity/cli/`
# directory in the root of your repository and any of its
# subdirectories.
/packages/@sanity/cli/ @rexxars

/packages/sanity/src/core/preview/ @bjoerge @RitaDias

# Bj√∏rge owns any file in `/packages/sanity/src/core/form/`
# directory in the root of your repository and any of its
# subdirectories.
/packages/sanity/src/core/form/ @bjoerge
/packages/sanity/src/core/form/inputs/files/ @bjoerge @RitaDias

# PK owns any file related to PTE
# They are spread across different directories and subdirectories
/packages/@sanity/portable-text-editor/ @skogsmaskin
/packages/sanity/src/core/field/types/portableText/ @skogsmaskin
/packages/sanity/src/core/form/inputs/PortableText/ @skogsmaskin

# Tom owns the Shopify templates
/packages/@sanity/cli/src/actions/init-project/templates/shopify* @thebiggianthead
/packages/@sanity/cli/templates/shopify* @thebiggianthead

/packages/sanity/src/desk/comments/ @hermanwikner
