Repository sanity-io/sanity, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanity-io/studio-dx, @sanity-io/studio-ex, @thebiggianthead, @sanity-io/growth

.github/CODEOWNERS:

# By default, assign the studio developer experience team.
# Later matching rules will take precedence.
* @sanity-io/studio-dx

# For areas of responsibility, assign the specific team
# that is responsible. It is possible to assign to individuals,
# however it is preferable that a team is responsible for large
# areas to improve maintainablitly and availability

# -- CLI --
/packages/@sanity/cli/ @sanity-io/studio-dx

# -- Comments --
/packages/sanity/src/structure/comments/ @sanity-io/studio-ex

# -- Form --
/packages/sanity/src/core/form/ @sanity-io/studio-dx

# -- Preview --
/packages/sanity/src/core/preview/ @sanity-io/studio-dx

# -- PTE --
/packages/@sanity/portable-text-editor/ @sanity-io/studio-ex
/packages/sanity/src/core/field/types/portableText/ @sanity-io/studio-ex
/packages/sanity/src/core/form/inputs/PortableText/ @sanity-io/studio-ex
/packages/sanity/src/core/form/types/blockProps.ts @sanity-io/studio-ex
/packages/@sanity/types/src/schema/definition/type/block.ts @sanity-io/studio-ex

# -- Playwright Component tests --
/packages/sanity/playwright-ct @sanity-io/studio-ex

# -- Search --
/packages/sanity/src/core/search/ @sanity-io/studio-ex

# -- Theming (legacy) --
/packages/sanity/src/core/theme/ @sanity-io/studio-ex

# -- Visual components --
/packages/sanity/src/core/studio/components/ @sanity-io/studio-ex
/packages/sanity/src/ui-components/ @sanity-io/studio-ex

# -- Others --

# Shopify templates
/packages/@sanity/cli/src/actions/init-project/templates/shopify* @thebiggianthead
/packages/@sanity/cli/templates/shopify* @thebiggianthead

# Telemetry definitions
*.telemetry.ts @sanity-io/growth

# -- Tasks --
/packages/sanity/src/tasks/ @sanity-io/studio-ex

fix(tasks): styling tasks create form
  packages/sanity/src/tasks/src/tasks/components/form/TargetField.tsx
  packages/sanity/src/tasks/src/tasks/components/form/TitleField.tsx
  packages/sanity/src/tasks/src/tasks/components/form/useTasksFormBuilder.ts
Owners: @sanity-io/studio-ex

fix: fix build issues
  packages/sanity/src/tasks/src/tasks/components/form/TargetInput.tsx
  packages/sanity/src/tasks/src/tasks/components/form/TasksForm.tsx
  packages/sanity/src/tasks/src/tasks/context/mentionUser/types.ts
Owners: @sanity-io/studio-ex

feat(tasks): WIP - use FormBuilder in tasks
  packages/sanity/src/tasks/src/tasks/components/create/TasksCreateForm.tsx
  packages/sanity/src/tasks/src/tasks/components/create/taskSchema.tsx
  packages/sanity/src/tasks/src/tasks/components/sidebar/TasksSidebar.tsx
Owners: @sanity-io/studio-ex

feat(tasks): add custom title field
  packages/sanity/src/tasks/src/tasks/components/form/TasksForm.tsx
  packages/sanity/src/tasks/src/tasks/components/form/TitleField.tsx
  packages/sanity/src/tasks/src/tasks/components/form/taskSchema.tsx
Owners: @sanity-io/studio-ex

feat(tasks): add missing fields to tasks
  packages/sanity/src/tasks/src/tasks/components/form/taskSchema.tsx
  packages/sanity/src/tasks/src/tasks/components/form/useTasksFormBuilder.ts
Owners: @sanity-io/studio-ex

feat(tasks): add tasks creation action
  packages/sanity/src/structure/comments/src/components/pte/comment-input/CommentInput.tsx
  packages/sanity/src/structure/comments/src/components/pte/comment-input/CommentInputInner.tsx
  packages/sanity/src/tasks/src/tasks/components/create/TasksCreate.tsx
  packages/sanity/src/tasks/src/tasks/components/create/WarningText.tsx
  packages/sanity/src/tasks/src/tasks/components/index.ts
  packages/sanity/src/tasks/src/tasks/context/tasks/types.ts
  packages/sanity/src/tasks/src/tasks/types.ts
Owners: @sanity-io/studio-ex

feat(tasks): add mention options and fix assigned to field
  packages/sanity/src/tasks/src/tasks/components/form/MentionUser.tsx
  packages/sanity/src/tasks/src/tasks/components/form/MentionUserFormField.tsx
  packages/sanity/src/tasks/src/tasks/components/form/TasksForm.tsx
  packages/sanity/src/tasks/src/tasks/components/form/taskSchema.tsx
  packages/sanity/src/tasks/src/tasks/context/index.ts
  packages/sanity/src/tasks/src/tasks/context/mentionUser/MentionUserContext.ts
  packages/sanity/src/tasks/src/tasks/context/mentionUser/MentionUserProvider.tsx
  packages/sanity/src/tasks/src/tasks/context/mentionUser/index.ts
  packages/sanity/src/tasks/src/tasks/context/mentionUser/types.ts
  packages/sanity/src/tasks/src/tasks/context/mentionUser/useMentionUser.ts
Owners: @sanity-io/studio-ex

feat(tasks): wip implementation - use tasks reference with search
  packages/sanity/src/core/studio/components/navbar/search/components/searchResults/item/SearchResultItemPreview.tsx
  packages/sanity/src/tasks/src/tasks/components/form/CurrentWorkspaceProvider.tsx
  packages/sanity/src/tasks/src/tasks/components/form/TargetField.tsx
  packages/sanity/src/tasks/src/tasks/components/form/taskSchema.tsx
Owners: @sanity-io/studio-ex

feat(tasks): use FormBuilder in tasks, fix remount issues
  packages/sanity/src/tasks/src/tasks/components/create/TaskCreate.tsx
  packages/sanity/src/tasks/src/tasks/components/create/TasksCreateForm.tsx
  packages/sanity/src/tasks/src/tasks/components/create/taskSchema.tsx
  packages/sanity/src/tasks/src/tasks/components/edit/TaskEdit.tsx
  packages/sanity/src/tasks/src/tasks/components/form/AddOnWorkspaceProvider.tsx
  packages/sanity/src/tasks/src/tasks/components/form/MentionUserFormField.tsx
  packages/sanity/src/tasks/src/tasks/components/form/TasksForm.tsx
  packages/sanity/src/tasks/src/tasks/components/form/taskSchema.tsx
  packages/sanity/src/tasks/src/tasks/components/form/useTasksFormBuilder.ts
  packages/sanity/src/tasks/src/tasks/components/sidebar/TasksSidebar.tsx
Owners: @sanity-io/studio-ex

fix(tasks): move selected document logic
  packages/sanity/src/tasks/src/tasks/components/form/TasksForm.tsx
Owners: @sanity-io/studio-ex

fix(tasks): updates post rebase with base branch
  packages/sanity/src/structure/comments/src/components/pte/comment-input/CommentInputInner.tsx
  packages/sanity/src/tasks/__workshop__/TasksCreateStory.tsx
  packages/sanity/src/tasks/src/tasks/components/create/TasksCreate.tsx
  packages/sanity/src/tasks/src/tasks/components/create/WarningText.tsx
  packages/sanity/src/tasks/src/tasks/context/tasks/types.ts
  packages/sanity/src/tasks/src/tasks/types.ts
Owners: @sanity-io/studio-ex

fix: remove unnecessary import
  packages/sanity/src/tasks/src/tasks/components/form/FormEdit.tsx
Owners: @sanity-io/studio-ex

{wip} saved 2024-02-27 15:41
  packages/sanity/src/tasks/src/tasks/components/form/TasksForm.tsx
  packages/sanity/src/tasks/src/tasks/components/form/useTasksFormBuilder.ts
Owners: @sanity-io/studio-ex

fix(tasks): update tasks ui
  packages/sanity/src/structure/comments/src/components/pte/comment-input/CommentInputInner.tsx
  packages/sanity/src/tasks/src/tasks/components/activityLog/ActivityLog.tsx
  packages/sanity/src/tasks/src/tasks/components/form/DescriptionInput.tsx
  packages/sanity/src/tasks/src/tasks/components/form/FormCreate.tsx
  packages/sanity/src/tasks/src/tasks/components/form/FormEdit.tsx
  packages/sanity/src/tasks/src/tasks/components/form/TargetField.tsx
  packages/sanity/src/tasks/src/tasks/components/form/TitleField.tsx
  packages/sanity/src/tasks/src/tasks/components/form/taskSchema.tsx
Owners: @sanity-io/studio-ex

feat(tasks): start form edit work
  packages/sanity/src/tasks/src/tasks/components/create/TaskCreate.tsx
  packages/sanity/src/tasks/src/tasks/components/edit/TaskEdit.tsx
  packages/sanity/src/tasks/src/tasks/components/form/AddOnWorkspaceProvider.tsx
  packages/sanity/src/tasks/src/tasks/components/form/FormEdit.tsx
  packages/sanity/src/tasks/src/tasks/components/form/StatusSelector.tsx
  packages/sanity/src/tasks/src/tasks/components/form/TasksForm.tsx
  packages/sanity/src/tasks/src/tasks/components/form/TitleField.tsx
  packages/sanity/src/tasks/src/tasks/components/form/taskSchema.tsx
  packages/sanity/src/tasks/src/tasks/components/form/useTasksFormBuilder.ts
  packages/sanity/src/tasks/src/tasks/types.ts
Owners: @sanity-io/studio-ex

fix(tasks): update title styling
  packages/sanity/src/tasks/src/tasks/components/form/TitleField.tsx
Owners: @sanity-io/studio-ex

feat(tasks): add wip activity log
  packages/sanity/src/tasks/src/tasks/components/activityLog/ActivityLog.tsx
  packages/sanity/src/tasks/src/tasks/components/activityLog/index.ts
  packages/sanity/src/tasks/src/tasks/components/form/FormEdit.tsx
  packages/sanity/src/tasks/src/tasks/components/form/taskSchema.tsx
Owners: @sanity-io/studio-ex

fix(tasks): use commentInput in tasks description
  packages/sanity/src/tasks/src/tasks/components/form/DescriptionInput.tsx
  packages/sanity/src/tasks/src/tasks/components/form/TitleField.tsx
  packages/sanity/src/tasks/src/tasks/components/form/taskSchema.tsx
Owners: @sanity-io/studio-ex

feat(tasks): add support for drafts and tasks duplication
  packages/sanity/src/tasks/src/tasks/components/activityLog/ActivityLog.tsx
  packages/sanity/src/tasks/src/tasks/components/create/TaskCreate.tsx
  packages/sanity/src/tasks/src/tasks/components/draft/TaskDraft.tsx
  packages/sanity/src/tasks/src/tasks/components/draft/index.ts
  packages/sanity/src/tasks/src/tasks/components/duplicate/TaskDuplicate.tsx
  packages/sanity/src/tasks/src/tasks/components/duplicate/index.ts
  packages/sanity/src/tasks/src/tasks/components/edit/TaskEdit.tsx
  packages/sanity/src/tasks/src/tasks/components/form/DescriptionInput.tsx
  packages/sanity/src/tasks/src/tasks/components/form/FormCreate.tsx
  packages/sanity/src/tasks/src/tasks/components/form/FormEdit.tsx
  packages/sanity/src/tasks/src/tasks/components/form/taskSchema.tsx
  packages/sanity/src/tasks/src/tasks/components/index.ts
  packages/sanity/src/tasks/src/tasks/components/sidebar/TasksSidebar.tsx
  packages/sanity/src/tasks/src/tasks/components/sidebar/TasksSidebarHeader.tsx
  packages/sanity/src/tasks/src/tasks/context/navigation/TasksNavigationProvider.tsx
  packages/sanity/src/tasks/src/tasks/context/navigation/types.ts
  packages/sanity/src/tasks/src/tasks/types.ts
Owners: @sanity-io/studio-ex

feat(tasks): integrate remove tasks into the new edit form
  packages/sanity/src/tasks/src/tasks/components/activityLog/ActivityLog.tsx
  packages/sanity/src/tasks/src/tasks/components/form/DescriptionInput.tsx
  packages/sanity/src/tasks/src/tasks/components/form/FormCreate.tsx
  packages/sanity/src/tasks/src/tasks/components/form/FormEdit.tsx
  packages/sanity/src/tasks/src/tasks/components/form/RemoveTask.tsx
  packages/sanity/src/tasks/src/tasks/components/form/RemoveTaskDialog.tsx
  packages/sanity/src/tasks/src/tasks/components/form/TitleField.tsx
  packages/sanity/src/tasks/src/tasks/components/form/taskSchema.tsx
  packages/sanity/src/tasks/src/tasks/context/tasks/types.ts
  packages/sanity/src/tasks/src/tasks/context/tasks/useTaskOperations.ts
  packages/sanity/src/tasks/src/tasks/hooks/useRemoveTask.ts
  packages/sanity/src/tasks/src/tasks/types.ts
Owners: @sanity-io/studio-ex

fix(tasks): assign target content when a task is created with a document in view
  packages/sanity/src/tasks/src/tasks/components/create/TaskCreate.tsx
  packages/sanity/src/tasks/src/tasks/components/form/TargetField.tsx
  packages/sanity/src/tasks/src/tasks/components/form/TasksForm.tsx
  packages/sanity/src/tasks/src/tasks/components/form/useTasksFormBuilder.ts
  packages/sanity/src/tasks/src/tasks/components/form/utils.ts
Owners: @sanity-io/studio-ex

fix(tasks): update focus visible on intent link
  packages/sanity/src/tasks/src/tasks/components/form/TargetField.tsx
Owners: @sanity-io/studio-ex

fix(tasks): update tasks workspace provider, small fixes
  packages/sanity/src/structure/comments/src/components/pte/comment-input/CommentInput.tsx
  packages/sanity/src/tasks/src/tasks/components/create/WarningText.tsx
  packages/sanity/src/tasks/src/tasks/components/form/FormCreate.tsx
  packages/sanity/src/tasks/src/tasks/components/form/FormEdit.tsx
  packages/sanity/src/tasks/src/tasks/components/form/MentionUser.tsx
  packages/sanity/src/tasks/src/tasks/components/form/RemoveTaskDialog.tsx
  packages/sanity/src/tasks/src/tasks/components/form/TargetField.tsx
  packages/sanity/src/tasks/src/tasks/components/form/TasksAddOnWorkspaceProvider.tsx
  packages/sanity/src/tasks/src/tasks/components/form/TasksForm.tsx
  packages/sanity/src/tasks/src/tasks/components/form/taskSchema.tsx
  packages/sanity/src/tasks/src/tasks/components/form/useTasksFormBuilder.ts
  packages/sanity/src/tasks/src/tasks/components/sidebar/TasksSidebar.tsx
Owners: @sanity-io/studio-ex

fix(tasks): update style for targetField placeholder
  packages/sanity/src/tasks/src/tasks/components/form/TargetField.tsx
Owners: @sanity-io/studio-ex

fix(tasks): fix issue in which the tasks created were not saving the created value
  packages/sanity/src/tasks/src/tasks/components/form/FormCreate.tsx
Owners: @sanity-io/studio-ex

fix(tasks): code cleanup
  packages/sanity/src/tasks/src/tasks/components/activityLog/ActivityLog.tsx
  packages/sanity/src/tasks/src/tasks/components/activityLog/TasksSubscribers.tsx
Owners: @sanity-io/studio-ex

fix(tasks): show subscribed tasks in subscribe tab
  packages/sanity/src/tasks/src/tasks/components/sidebar/TasksSidebar.tsx
Owners: @sanity-io/studio-ex

fix(tasks): add assigned user to subscribers
  packages/sanity/src/core/form/studio/__snapshots__/FormBuilder.test.tsx.snap
  packages/sanity/src/tasks/src/tasks/components/form/FormEdit.tsx
  packages/sanity/src/tasks/src/tasks/components/form/mentionUser/AssigneeEditFormField.tsx
Owners: @sanity-io/studio-dx, @sanity-io/studio-ex

fix(tasks): set creator of task as subscriber
  packages/sanity/src/tasks/src/tasks/components/create/TaskCreate.tsx
Owners: @sanity-io/studio-ex

fix(tasks): add date field in edit form
  packages/sanity/src/tasks/src/tasks/components/activityLog/TasksSubscribers.tsx
  packages/sanity/src/tasks/src/tasks/components/form/DateEditFormField.tsx
  packages/sanity/src/tasks/src/tasks/components/form/FormEdit.tsx
  packages/sanity/src/tasks/src/tasks/components/form/TargetField.tsx
  packages/sanity/src/tasks/src/tasks/components/form/taskSchema.tsx
Owners: @sanity-io/studio-ex

fix(tasks): not show avatars if no subscribers
  packages/sanity/src/tasks/src/tasks/components/activityLog/ActivityLog.tsx
  packages/sanity/src/tasks/src/tasks/components/activityLog/TasksSubscribers.tsx
Owners: @sanity-io/studio-ex

fix(tasks): update assignee fields, and add animation to subscribers
  packages/sanity/src/tasks/src/tasks/components/activityLog/TasksSubscribers.tsx
  packages/sanity/src/tasks/src/tasks/components/form/DescriptionInput.tsx
  packages/sanity/src/tasks/src/tasks/components/form/FormEdit.tsx
  packages/sanity/src/tasks/src/tasks/components/form/mentionUser/AssigneeCreateFormField.tsx
  packages/sanity/src/tasks/src/tasks/components/form/mentionUser/AssigneeEditFormField.tsx
  packages/sanity/src/tasks/src/tasks/components/form/mentionUser/AssigneeSelectionMenu.tsx
Owners: @sanity-io/studio-ex

fix(tasks): update assignee form field
  packages/sanity/src/tasks/src/tasks/components/TasksUserAvatar.tsx
  packages/sanity/src/tasks/src/tasks/components/form/FormEdit.tsx
  packages/sanity/src/tasks/src/tasks/components/form/MentionUser.tsx
  packages/sanity/src/tasks/src/tasks/components/form/mentionUser/AssigneeCreateFormField.tsx
  packages/sanity/src/tasks/src/tasks/components/form/mentionUser/AssigneeEditFormField.tsx
  packages/sanity/src/tasks/src/tasks/components/form/mentionUser/AssigneeSelectionMenu.tsx
  packages/sanity/src/tasks/src/tasks/components/form/mentionUser/index.ts
  packages/sanity/src/tasks/src/tasks/components/form/taskSchema.tsx
Owners: @sanity-io/studio-ex

fix(tasks): rename mention user folder
  packages/sanity/src/tasks/src/tasks/components/form/FormEdit.tsx
  packages/sanity/src/tasks/src/tasks/components/form/assignee/AssigneeCreateFormField.tsx
  packages/sanity/src/tasks/src/tasks/components/form/assignee/AssigneeEditFormField.tsx
  packages/sanity/src/tasks/src/tasks/components/form/assignee/AssigneeSelectionMenu.tsx
  packages/sanity/src/tasks/src/tasks/components/form/assignee/index.ts
  packages/sanity/src/tasks/src/tasks/components/form/taskSchema.tsx
Owners: @sanity-io/studio-ex

fix(tasks): add discard draft action
  packages/sanity/src/tasks/src/tasks/components/form/FormCreate.tsx
  packages/sanity/src/tasks/src/tasks/hooks/useRemoveTask.ts
Owners: @sanity-io/studio-ex

feat(tasks): add listener for query params, handle copy link
  packages/sanity/src/core/studio/addonDataset/AddonDatasetProvider.tsx
  packages/sanity/src/core/studio/addonDataset/types.ts
  packages/sanity/src/tasks/plugin/TasksStudioActiveToolLayout.tsx
  packages/sanity/src/tasks/plugin/TasksStudioLayout.tsx
  packages/sanity/src/tasks/src/tasks/components/form/FormEdit.tsx
  packages/sanity/src/tasks/src/tasks/components/form/TasksAddOnWorkspaceProvider.tsx
  packages/sanity/src/tasks/src/tasks/components/navbar/TasksNavbarButton.tsx
  packages/sanity/src/tasks/src/tasks/components/sidebar/TasksSidebar.tsx
  packages/sanity/src/tasks/src/tasks/components/sidebar/TasksSidebarHeader.tsx
  packages/sanity/src/tasks/src/tasks/context/navigation/TasksNavigationProvider.tsx
  packages/sanity/src/tasks/src/tasks/context/navigation/types.ts
  packages/sanity/src/tasks/src/tasks/context/tasks/TasksProvider.tsx
  packages/sanity/src/tasks/src/tasks/context/tasks/types.ts
Owners: @sanity-io/studio-dx, @sanity-io/studio-ex

fix(tasks): add subscriptions to tasks
  packages/sanity/src/tasks/src/tasks/components/activityLog/ActivityLog.tsx
  packages/sanity/src/tasks/src/tasks/components/activityLog/TasksSubscribers.tsx
  packages/sanity/src/tasks/src/tasks/components/form/FormEdit.tsx
  packages/sanity/src/tasks/src/tasks/components/form/taskSchema.tsx
  packages/sanity/src/tasks/src/tasks/types.ts
Owners: @sanity-io/studio-ex

feat(tasks): add subscribers when editing and creating a task
  packages/sanity/src/tasks/src/tasks/components/activityLog/TasksSubscribers.tsx
  packages/sanity/src/tasks/src/tasks/components/form/FormCreate.tsx
  packages/sanity/src/tasks/src/tasks/components/form/FormEdit.tsx
  packages/sanity/src/tasks/src/tasks/components/form/utils.ts
  packages/sanity/src/tasks/src/tasks/components/sidebar/TasksSidebar.tsx
Owners: @sanity-io/studio-ex

chore(tasks): move target content field to the top
  packages/sanity/src/core/form/components/formField/FormFieldBaseHeader.tsx
  packages/sanity/src/tasks/src/tasks/components/form/DescriptionInput.tsx
  packages/sanity/src/tasks/src/tasks/components/form/FieldWrapper.tsx
  packages/sanity/src/tasks/src/tasks/components/form/FormEdit.tsx
  packages/sanity/src/tasks/src/tasks/components/form/TargetField.tsx
  packages/sanity/src/tasks/src/tasks/components/form/TitleField.tsx
  packages/sanity/src/tasks/src/tasks/components/form/taskSchema.tsx
Owners: @sanity-io/studio-dx, @sanity-io/studio-ex

refactor(tasks): include tasks plugin via config flag
  dev/test-studio/sanity.config.ts
  packages/sanity/src/core/config/prepareConfig.ts
  packages/sanity/src/core/config/types.ts
Owners: @sanity-io/studio-dx
