Repository sanity-io/sanity, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanity-io/studio-dx, @sanity-io/studio-ex, @thebiggianthead, @sanity-io/growth

fix(pte): updates zoffset for PopoverEditDialog to not be on top of InspectDialog (#5882)
  packages/sanity/src/core/components/zOffsets/defaults.ts
  packages/sanity/src/core/components/zOffsets/types.ts
  packages/sanity/src/structure/panes/document/document-layout/DocumentLayout.tsx
Owners: @sanity-io/studio-dx

fix(core): add onDoubleClick to open image crop (#5815)
  packages/sanity/src/core/form/inputs/files/ImageInput/ImageInput.tsx
Owners: @sanity-io/studio-dx

feat(tasks): add comments
  packages/sanity/src/tasks/src/tasks/components/activity/TasksActivityCommentInput.tsx
  packages/sanity/src/tasks/src/tasks/components/activity/TasksActivityCreatedAt.tsx
  packages/sanity/src/tasks/src/tasks/components/activity/TasksActivityLog.tsx
  packages/sanity/src/tasks/src/tasks/components/activity/TasksSubscribers.tsx
  packages/sanity/src/tasks/src/tasks/components/activity/index.ts
  packages/sanity/src/tasks/src/tasks/components/activityLog/ActivityLog.tsx
  packages/sanity/src/tasks/src/tasks/components/activityLog/index.ts
  packages/sanity/src/tasks/src/tasks/components/form/FormEdit.tsx
Owners: @sanity-io/studio-ex

refactor(tasks): include tasks plugin via config flag (#5935)
  dev/test-studio/sanity.config.ts
  packages/sanity/src/core/config/prepareConfig.ts
  packages/sanity/src/core/config/types.ts
Owners: @sanity-io/studio-dx

feat(tasks): add comments
  packages/sanity/src/tasks/src/tasks/components/activity/TasksActivityCommentInput.tsx
  packages/sanity/src/tasks/src/tasks/components/activity/TasksActivityCreatedAt.tsx
  packages/sanity/src/tasks/src/tasks/components/activity/TasksActivityLog.tsx
  packages/sanity/src/tasks/src/tasks/components/activity/TasksSubscribers.tsx
  packages/sanity/src/tasks/src/tasks/components/activity/index.ts
  packages/sanity/src/tasks/src/tasks/components/activityLog/ActivityLog.tsx
  packages/sanity/src/tasks/src/tasks/components/activityLog/index.ts
  packages/sanity/src/tasks/src/tasks/components/form/FormEdit.tsx
Owners: @sanity-io/studio-ex

fix(tasks): add activities to the activity log
  packages/sanity/src/tasks/src/tasks/components/activity/Activities.tsx
Owners: @sanity-io/studio-ex

fix(tasks): fix string logic of activities
  packages/sanity/src/tasks/src/tasks/components/activity/Activity.tsx
  packages/sanity/src/tasks/src/tasks/components/activity/helpers/dummyData.ts
  packages/sanity/src/tasks/src/tasks/components/activity/helpers/index.tsx
Owners: @sanity-io/studio-ex

fix(tasks): update activity components
  packages/sanity/src/tasks/src/tasks/components/activity/Activity.tsx
  packages/sanity/src/tasks/src/tasks/components/activity/helpers/index.tsx
Owners: @sanity-io/studio-ex

fix(tasks): remove activity log dummy data
  packages/sanity/src/tasks/src/tasks/components/activity/helpers/dummyData.ts
Owners: @sanity-io/studio-ex

fix(tasks): update activity logs to work with comments
  packages/sanity/src/tasks/src/tasks/components/activity/Activities.tsx
  packages/sanity/src/tasks/src/tasks/components/activity/TasksActivityLog.tsx
Owners: @sanity-io/studio-ex

fix(core): clean up unused labels
  packages/sanity/src/core/form/inputs/DateInputs/base/calendar/Calendar.tsx
Owners: @sanity-io/studio-dx

fix(tasks): update pr with suggestions
  packages/sanity/src/structure/comments/src/components/pte/comment-input/CommentInputInner.tsx
  packages/sanity/src/tasks/src/tasks/components/form/DescriptionInput.tsx
  packages/sanity/src/tasks/src/tasks/components/form/RemoveTask.tsx
  packages/sanity/src/tasks/src/tasks/components/list/TasksList.tsx
  packages/sanity/src/tasks/src/tasks/components/list/TasksListItem.tsx
Owners: @sanity-io/studio-ex

fixup! fix(ci): skip running build before unit tests
  .github/workflows/test.yml
Owners: @sanity-io/studio-dx

fix(ci): align pnpm install across all workflows (#5920)
  .github/workflows/cli-test.yml
  .github/workflows/depCheck.yml
  .github/workflows/docReport.yml
  .github/workflows/e2e-ct.yml
  .github/workflows/e2e-pte.yml
  .github/workflows/etl.yml
  .github/workflows/formatCheck.yml
  .github/workflows/lint-fix-if-needed.yml
  .github/workflows/lintPr.yml
  .github/workflows/perf.yml
  .github/workflows/pnpm-if-needed.yml
  .github/workflows/pr-cleanup.yml
  .github/workflows/prettier-if-needed.yml
  .github/workflows/test.yml
  .github/workflows/typeCheck.yml
Owners: @sanity-io/studio-dx

fix(tasks): fix build issue, import plugin into structure plugin, update enabled checks
  packages/sanity/src/core/config/prepareConfig.ts
  packages/sanity/src/core/config/types.ts
  packages/sanity/src/structure/structureTool.ts
  packages/sanity/src/tasks/plugin/TasksStudioLayout.tsx
  packages/sanity/src/tasks/src/tasks/components/navbar/TasksNavbarButton.tsx
  packages/sanity/src/tasks/src/tasks/components/sidebar/TasksSidebar.tsx
  packages/sanity/src/tasks/src/tasks/context/enabled/TasksEnabledProvider.tsx
Owners: @sanity-io/studio-dx, @sanity-io/studio-ex

feat(core): redirect to previous path after login (#5932)
  packages/sanity/src/core/store/_legacy/authStore/createLoginComponent.tsx
  packages/sanity/src/core/store/_legacy/authStore/types.ts
  packages/sanity/src/core/studio/components/navbar/workspace/WorkspaceAuth/WorkspaceAuth.tsx
Owners: @sanity-io/studio-dx, @sanity-io/studio-ex

refactor(core): convert createRecentSearchesStore to useRecentSearchesStore
  packages/sanity/src/core/studio/components/navbar/search/contexts/search/SearchProvider.tsx
  packages/sanity/src/core/studio/components/navbar/search/datastores/recentSearches.test.ts
  packages/sanity/src/core/studio/components/navbar/search/datastores/recentSearches.test.tsx
  packages/sanity/src/core/studio/components/navbar/search/datastores/recentSearches.ts
  packages/sanity/src/core/studio/components/navbar/search/datastores/useStoredSearch.ts
Owners: @sanity-io/studio-ex

fix(core): use default studio client options
  packages/sanity/src/core/studio/components/navbar/search/datastores/useStoredSearch.ts
Owners: @sanity-io/studio-ex

refactor: remove recent searches from search state and invoke hook wherever needed
  packages/sanity/src/core/studio/components/navbar/search/components/recentSearches/RecentSearches.tsx
  packages/sanity/src/core/studio/components/navbar/search/components/recentSearches/item/RecentSearchItem.tsx
  packages/sanity/src/core/studio/components/navbar/search/components/searchResults/SearchResults.tsx
  packages/sanity/src/core/studio/components/navbar/search/contexts/search/SearchContext.ts
  packages/sanity/src/core/studio/components/navbar/search/contexts/search/SearchProvider.tsx
  packages/sanity/src/core/studio/components/navbar/search/contexts/search/reducer.ts
  packages/sanity/src/core/studio/components/navbar/search/datastores/recentSearches.test.tsx
  packages/sanity/src/core/studio/components/navbar/search/datastores/recentSearches.ts
  test/e2e/tests/navbar/search.spec.ts
Owners: @sanity-io/studio-ex, @sanity-io/studio-dx

fix: remove typos, spaces
  packages/sanity/src/core/studio/components/navbar/search/contexts/search/reducer.ts
  packages/sanity/src/core/studio/components/navbar/search/datastores/recentSearches.test.tsx
Owners: @sanity-io/studio-ex

refactor: pass useStoredSearch to recentSearchesStore
  packages/sanity/src/core/studio/components/navbar/search/contexts/search/SearchProvider.tsx
  packages/sanity/src/core/studio/components/navbar/search/datastores/recentSearches.ts
  packages/sanity/src/core/studio/components/navbar/search/datastores/useStoredSearch.ts
Owners: @sanity-io/studio-ex

fix: pass recent terms for more predictable UI behavior
  packages/sanity/src/core/studio/components/navbar/search/datastores/recentSearches.ts
Owners: @sanity-io/studio-ex

refactor(core): create useStoredSearch hook
  packages/sanity/src/core/studio/components/navbar/search/datastores/useStoredSearch.ts
Owners: @sanity-io/studio-ex

.github/CODEOWNERS:

# By default, assign the studio developer experience team.
# Later matching rules will take precedence.
* @sanity-io/studio-dx

# For areas of responsibility, assign the specific team
# that is responsible. It is possible to assign to individuals,
# however it is preferable that a team is responsible for large
# areas to improve maintainablitly and availability

# -- CLI --
/packages/@sanity/cli/ @sanity-io/studio-dx

# -- Comments --
/packages/sanity/src/structure/comments/ @sanity-io/studio-ex

# -- Form --
/packages/sanity/src/core/form/ @sanity-io/studio-dx

# -- Preview --
/packages/sanity/src/core/preview/ @sanity-io/studio-dx

# -- PTE --
/packages/@sanity/portable-text-editor/ @sanity-io/studio-ex
/packages/sanity/src/core/field/types/portableText/ @sanity-io/studio-ex
/packages/sanity/src/core/form/inputs/PortableText/ @sanity-io/studio-ex
/packages/sanity/src/core/form/types/blockProps.ts @sanity-io/studio-ex
/packages/@sanity/types/src/schema/definition/type/block.ts @sanity-io/studio-ex

# -- Playwright Component tests --
/packages/sanity/playwright-ct @sanity-io/studio-ex

# -- Search --
/packages/sanity/src/core/search/ @sanity-io/studio-ex

# -- Theming (legacy) --
/packages/sanity/src/core/theme/ @sanity-io/studio-ex

# -- Visual components --
/packages/sanity/src/core/studio/components/ @sanity-io/studio-ex
/packages/sanity/src/ui-components/ @sanity-io/studio-ex

# -- Others --

# Shopify templates
/packages/@sanity/cli/src/actions/init-project/templates/shopify* @thebiggianthead
/packages/@sanity/cli/templates/shopify* @thebiggianthead

# Telemetry definitions
*.telemetry.ts @sanity-io/growth

# -- Tasks --
/packages/sanity/src/tasks/ @sanity-io/studio-ex
