Repository sanity-io/sanity, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sanity-io/studio-dx, @sanity-io/studio-ex, @thebiggianthead, @sanity-io/growth, @sanity-io/content-lake-dx

.github/CODEOWNERS:

# By default, assign the studio developer experience team.
# Later matching rules will take precedence.
* @sanity-io/studio-dx

# For areas of responsibility, assign the specific team
# that is responsible. It is possible to assign to individuals,
# however it is preferable that a team is responsible for large
# areas to improve maintainablitly and availability

# -- CLI --
/packages/@sanity/cli/ @sanity-io/studio-dx

# -- Form --
/packages/sanity/src/core/form/ @sanity-io/studio-dx

# -- Preview --
/packages/sanity/src/core/preview/ @sanity-io/studio-dx

# -- PTE --
/packages/@sanity/portable-text-editor/ @sanity-io/studio-ex
/packages/sanity/src/core/field/types/portableText/ @sanity-io/studio-ex
/packages/sanity/src/core/form/inputs/PortableText/ @sanity-io/studio-ex
/packages/sanity/src/core/form/types/blockProps.ts @sanity-io/studio-ex
/packages/@sanity/types/src/schema/definition/type/block.ts @sanity-io/studio-ex

# -- Playwright Component tests --
/packages/sanity/playwright-ct @sanity-io/studio-ex

# -- Search --
/packages/sanity/src/core/search/ @sanity-io/studio-ex

# -- Theming (legacy) --
/packages/sanity/src/core/theme/ @sanity-io/studio-ex

# -- Visual components --
/packages/sanity/src/core/studio/components/ @sanity-io/studio-ex
/packages/sanity/src/ui-components/ @sanity-io/studio-ex

# -- Others --

# Shopify templates
/packages/@sanity/cli/src/actions/init-project/templates/shopify* @thebiggianthead
/packages/@sanity/cli/templates/shopify* @thebiggianthead

# Telemetry definitions
*.telemetry.ts @sanity-io/growth

# -- Plugins --

# -- Tasks --
/packages/sanity/src/core/tasks/ @sanity-io/studio-ex

# -- Comments --
/packages/sanity/src/core/comments/ @sanity-io/studio-ex

# Code and typegeneration
/packages/@sanity/codegen/ @sanity-io/content-lake-dx
/packages/@sanity/cli/src/actions/typegen @sanity-io/content-lake-dx
/packages/@sanity/cli/src/commands/typegen @sanity-io/content-lake-dx
/packages/@sanity/cli/src/workers/typegenGenerate.ts @sanity-io/content-lake-dx

chore: test unicode removal
  packages/sanity/playwright-ct/tests/formBuilder/inputs/PortableText/copyPaste/input.ts
Owners: @sanity-io/studio-ex

chore: test unicode removal
  packages/sanity/playwright-ct/tests/formBuilder/inputs/PortableText/copyPaste/input.ts
Owners: @sanity-io/studio-ex

chore: turn server actions on by default in test-studio
  dev/test-studio/sanity.config.ts
Owners: @sanity-io/studio-dx

feat(core): improve defineType TType
  packages/@sanity/types/src/schema/define.ts
  packages/@sanity/types/src/schema/types.ts
Owners: @sanity-io/studio-dx

fix(portable-text-editor): support collapsed range decorations
  packages/@sanity/portable-text-editor/src/editor/Editable.tsx
Owners: @sanity-io/studio-ex

test(playwright-ct): add test for single point range decoration
  packages/sanity/playwright-ct/tests/formBuilder/inputs/PortableText/RangeDecoration.spec.tsx
Owners: @sanity-io/studio-ex

playground
  packages/@sanity/portable-text-editor/src/editor/PortableTextEditor.tsx
  packages/@sanity/portable-text-editor/src/editor/plugins/createWithEditableAPI.ts
  packages/@sanity/portable-text-editor/src/editor/plugins/createWithPortableTextLists.ts
  packages/@sanity/portable-text-editor/src/editor/plugins/createWithPortableTextMarkModel.ts
  packages/sanity/src/core/form/inputs/PortableText/toolbar/ActionMenu.tsx
  packages/sanity/src/core/form/inputs/PortableText/toolbar/hooks.ts
  packages/sanity/src/tasks/src/tasks/TasksVisibleState.ts
  packages/sanity/src/tasks/src/tasks/components/sidebar/TasksSidebar.tsx
  packages/sanity/src/tasks/src/tasks/context/navigation/TasksNavigationProvider.tsx
  packages/sanity/src/tasks/src/tasks/context/tasks/TasksProvider.tsx
  packages/sanity/src/tasks/src/tasks/context/tasks/types.ts
  packages/sanity/src/tasks/src/tasks/context/tasks/useTasks.ts
  packages/sanity/src/tasks/src/tasks/store/useTasksStore.ts
  packages/sanity/src/tasks/src/tasks/types.ts
Owners: @sanity-io/studio-ex, @sanity-io/studio-dx

chore: turn server actions on by default in test-studio (#6425)
  dev/test-studio/sanity.config.ts
Owners: @sanity-io/studio-dx

fix(@sanity): issue where hidden unicode characters were bloating document in PTE (#6424)
  packages/@sanity/portable-text-editor/package.json
  packages/@sanity/portable-text-editor/src/editor/plugins/createWithInsertData.ts
  packages/@sanity/portable-text-editor/src/utils/vercelStegaCleanAll.ts
  packages/@sanity/portable-text-editor/tsdoc.json
  packages/sanity/playwright-ct/tests/formBuilder/inputs/PortableText/copyPaste/CopyPaste.spec.tsx
  packages/sanity/playwright-ct/tests/formBuilder/inputs/PortableText/copyPaste/input.ts
  pnpm-lock.yaml
Owners: @sanity-io/studio-ex, @sanity-io/studio-dx

fix: statusButton should require aria-label
  packages/sanity/src/core/components/StatusButton.tsx
  packages/sanity/src/core/i18n/bundles/studio.ts
  packages/sanity/src/core/studio/components/navbar/configIssues/ConfigIssuesButton.tsx
  packages/sanity/src/core/studio/components/navbar/presence/PresenceMenu.tsx
  packages/sanity/src/structure/components/pane/PaneHeaderActionButton.tsx
Owners: @sanity-io/studio-dx, @sanity-io/studio-ex

fix(migrate): forward possible API error response to error thrown for non 2xx (#6387)
  packages/@sanity/migrate/src/fetch-utils/__test__/assert2xx.test.ts
  packages/@sanity/migrate/src/fetch-utils/fetchStream.ts
Owners: @sanity-io/studio-dx

fix(core): prevent transformation of negation tokens into wildcard prefix tokens (#6396)
  packages/sanity/src/core/search/text-search/createTextSearch.test.ts
  packages/sanity/src/core/search/text-search/createTextSearch.ts
Owners: @sanity-io/studio-ex

fix: refactor checkoutPair to allow mutations for liveEdit documents (#6393)
  packages/sanity/src/core/store/_legacy/document/document-pair/checkoutPair.test.ts
  packages/sanity/src/core/store/_legacy/document/document-pair/checkoutPair.ts
  packages/sanity/src/core/store/_legacy/document/document-pair/serverOperations/delete.ts
  test/e2e/tests/document-actions/liveEdit.spec.ts
Owners: @sanity-io/studio-dx
