Repository sanity-io/sanity, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rexxars, @bjoerge, @RitaDias, @skogsmaskin, @thebiggianthead, @hermanwikner

feat(i18n): add localization for UnknownPaneType
  packages/sanity/src/desk/i18n/resources.ts
  packages/sanity/src/desk/panes/unknown/UnknownPaneType.tsx
Owners: none

feat(i18n): disable no-literal-string lint rule for __workshop__
  packages/sanity/src/desk/components/pane/__workshop__/.eslintrc
Owners: none

feat(i18n): disable no-literal-string lint rule for timeline/__workshop__
  packages/sanity/src/desk/panes/document/timeline/__workshop__/.eslintrc
Owners: none

fix: revert the storing of cross dataset references in comment documents
  packages/sanity/src/desk/comments/plugin/field/CommentFieldButton.tsx
  packages/sanity/src/desk/comments/src/__workshop__/CommentsListStory.tsx
  packages/sanity/src/desk/comments/src/components/icons/index.ts
  packages/sanity/src/desk/comments/src/context/comments/CommentsProvider.tsx
  packages/sanity/src/desk/comments/src/hooks/useCommentOperations.ts
  packages/sanity/src/desk/comments/src/types.ts
Owners: @hermanwikner

feat: add to notification context
  packages/sanity/src/desk/comments/src/context/comments/CommentsProvider.tsx
  packages/sanity/src/desk/comments/src/hooks/useCommentOperations.ts
  packages/sanity/src/desk/comments/src/types.ts
Owners: @hermanwikner

fix(core/desk): use Studio UI tooltip
  packages/@sanity/vision/src/components/VisionGui.tsx
  packages/sanity/src/core/components/StatusButton.tsx
  packages/sanity/src/core/components/collapseMenu/CollapseMenu.tsx
  packages/sanity/src/core/components/previews/general/MediaPreview.styled.ts
  packages/sanity/src/core/components/previews/general/MediaPreview.tsx
  packages/sanity/src/core/field/diff/components/DiffTooltip.tsx
  packages/sanity/src/core/presence/DocumentPreviewPresence.tsx
  packages/sanity/src/core/studio/components/navbar/new-document/NewDocumentButton.tsx
  packages/sanity/src/core/studio/components/navbar/new-document/NewDocumentListOption.tsx
  packages/sanity/src/core/studio/components/navbar/search/components/searchResults/item/DebugOverlay.tsx
  packages/sanity/src/desk/components/NotPublishedStatus.tsx
  packages/sanity/src/ui/tooltip/Tooltip.tsx
Owners: none

fix(core/desk): use StudioUi Tooltip
  packages/sanity/src/core/components/InsufficientPermissionsMessage.tsx
  packages/sanity/src/core/components/userAvatar/UserAvatar.tsx
  packages/sanity/src/core/form/inputs/PortableText/__workshop__/customSchema/blockActions.tsx
  packages/sanity/src/core/form/inputs/PortableText/object/Annotation.tsx
  packages/sanity/src/core/form/inputs/PortableText/object/BlockObject.tsx
  packages/sanity/src/core/form/inputs/PortableText/object/InlineObject.tsx
  packages/sanity/src/core/form/inputs/PortableText/text/TextBlock.tsx
  packages/sanity/src/core/form/inputs/PortableText/toolbar/Toolbar.tsx
  packages/sanity/src/core/form/inputs/ReferenceInput/CreateButton.tsx
  packages/sanity/src/core/form/inputs/arrays/ArrayOfObjectsInput/ArrayOfObjectsFunctions.tsx
  packages/sanity/src/core/form/inputs/arrays/ArrayOfPrimitivesInput/ArrayOfPrimitivesFunctions.tsx
  packages/sanity/src/core/form/studio/assetSource/AssetRow.tsx
  packages/sanity/src/core/presence/DocumentPreviewPresence.tsx
  packages/sanity/src/core/presence/PresenceTooltip.tsx
  packages/sanity/src/core/studio/components/navbar/StudioNavbar.tsx
  packages/sanity/src/desk/components/confirmDeleteDialog/ConfirmDeleteDialogBody.styles.tsx
  packages/sanity/src/desk/components/paneHeaderActions/InsufficientPermissionsMessageTooltip.tsx
  packages/sanity/src/desk/panes/document/statusBar/ActionMenuButton.tsx
  packages/sanity/src/desk/panes/document/statusBar/sparkline/PublishStatus.tsx
Owners: @skogsmaskin, @bjoerge

fix(core/desk): use StudioUI tooltip and remove paddings
  packages/sanity/src/core/components/collapseMenu/CollapseMenuButton.tsx
  packages/sanity/src/core/studio/components/navbar/search/components/filters/filter/inputs/date/ParsedDateTextInput.tsx
  packages/sanity/src/desk/panes/document/statusBar/sparkline/DocumentBadges.tsx
Owners: none

feat(facelift): create StudioUI tooltip with delay and replace
  packages/sanity/src/core/form/components/formField/FormFieldValidationStatus.tsx
  packages/sanity/src/core/form/inputs/CrossDatasetReferenceInput/CrossDatasetReferencePreview.tsx
  packages/sanity/src/core/form/inputs/ReferenceInput/PreviewReferenceValue.tsx
  packages/sanity/src/core/form/inputs/ReferenceInput/ReferencePreview.tsx
  packages/sanity/src/core/studio/components/navbar/new-document/NewDocumentButton.tsx
  packages/sanity/src/core/studio/components/navbar/resources/ResourcesButton.tsx
  packages/sanity/src/core/studio/components/navbar/search/components/filters/addFilter/items/FilterTooltip.tsx
  packages/sanity/src/core/studio/components/navbar/search/components/filters/addFilter/items/MenuItemFilter.tsx
  packages/sanity/src/core/studio/components/navbar/userMenu/UserMenu.tsx
  packages/sanity/src/core/studio/components/navbar/workspace/WorkspaceMenuButton.tsx
  packages/sanity/src/desk/components/DraftStatus.tsx
  packages/sanity/src/desk/components/PublishedStatus.tsx
  packages/sanity/src/desk/panes/document/documentPanel/header/DocumentPanelHeader.tsx
  packages/sanity/src/desk/panes/document/statusBar/DocumentStatusBarActions.tsx
  packages/sanity/src/desk/panes/document/statusBar/sparkline/ReviewChangesButton/ReviewChangesButton.tsx
  packages/sanity/src/ui/tooltip/Tooltip.tsx
Owners: @bjoerge

fix(core): use StudioUI tooltip for TooltipOfDisabled - ref prop error
  packages/sanity/src/core/components/TooltipOfDisabled.tsx
Owners: none

fix(src): fix studioUI tooltip to take strings and replace current tooltips with this logic
  packages/@sanity/vision/src/components/VisionGui.tsx
  packages/sanity/src/core/components/TooltipOfDisabled.tsx
  packages/sanity/src/core/components/collapseMenu/CollapseMenu.tsx
  packages/sanity/src/core/components/userAvatar/UserAvatar.tsx
  packages/sanity/src/core/form/inputs/PortableText/__workshop__/customSchema/blockActions.tsx
  packages/sanity/src/core/form/studio/assetSource/AssetRow.tsx
  packages/sanity/src/core/studio/components/navbar/resources/ResourcesButton.tsx
  packages/sanity/src/core/studio/components/navbar/userMenu/UserMenu.tsx
  packages/sanity/src/core/studio/components/navbar/workspace/WorkspaceMenuButton.tsx
  packages/sanity/src/desk/components/paneHeaderActions/InsufficientPermissionsMessageTooltip.tsx
  packages/sanity/src/desk/panes/document/documentPanel/header/DocumentPanelHeader.tsx
  packages/sanity/src/desk/panes/document/statusBar/ActionMenuButton.tsx
  packages/sanity/src/desk/panes/document/statusBar/sparkline/DocumentBadges.tsx
  packages/sanity/src/ui/tooltip/Tooltip.tsx
Owners: @skogsmaskin, @bjoerge

test(playwright-ct): add test for focus tracking in PT-input
  packages/sanity/playwright-ct/tests/formBuilder/inputs/PortableText/FocusTracking.spec.tsx
  packages/sanity/playwright-ct/tests/formBuilder/inputs/PortableText/FocusTrackingStory.tsx
Owners: none

refactor(playwright-ct): make TestWrapper form agnostic
  packages/sanity/playwright-ct/tests/formBuilder/ArrayInputStory.tsx
  packages/sanity/playwright-ct/tests/formBuilder/inputs/PortableText/AnnotationsStory.tsx
  packages/sanity/playwright-ct/tests/formBuilder/inputs/PortableText/DecoratorsStory.tsx
  packages/sanity/playwright-ct/tests/formBuilder/inputs/PortableText/FocusTrackingStory.tsx
  packages/sanity/playwright-ct/tests/formBuilder/inputs/PortableText/InputStory.tsx
  packages/sanity/playwright-ct/tests/formBuilder/inputs/PortableText/ObjectBlockStory.tsx
  packages/sanity/playwright-ct/tests/formBuilder/inputs/PortableText/StylesStory.tsx
  packages/sanity/playwright-ct/tests/formBuilder/inputs/PortableText/ToolbarStory.tsx
  packages/sanity/playwright-ct/tests/formBuilder/utils/TestForm.tsx
  packages/sanity/playwright-ct/tests/formBuilder/utils/TestWrapper.tsx
Owners: none

test(playwrigth-ct): fix issue with Webkit tests
  packages/sanity/playwright-ct/tests/formBuilder/inputs/PortableText/FocusTracking.spec.tsx
Owners: none

refactor(core/form/inputs): simplify focus handling
  packages/sanity/src/core/form/inputs/PortableText/Compositor.tsx
  packages/sanity/src/core/form/inputs/PortableText/Editor.tsx
  packages/sanity/src/core/form/inputs/PortableText/PortableTextInput.tsx
Owners: @skogsmaskin

test(playwright-ct): support document and focusPath props
  packages/sanity/playwright-ct/tests/formBuilder/utils/TestForm.tsx
  packages/sanity/playwright-ct/tests/formBuilder/utils/TestWrapper.tsx
Owners: none

refactor(portable-text-editor): rename var to be more explicit
  packages/sanity/src/core/form/inputs/PortableText/Compositor.tsx
  packages/sanity/src/core/form/inputs/PortableText/PortableTextInput.tsx
Owners: @skogsmaskin

fix(core/inputs): always scroll to member, but don't re-apply same selection
  packages/sanity/src/core/form/inputs/PortableText/hooks/useTrackFocusPath.tsx
Owners: @skogsmaskin

fix(core/inputs): support setting initial PTE selection
  packages/sanity/src/core/form/inputs/PortableText/Compositor.tsx
  packages/sanity/src/core/form/inputs/PortableText/PortableTextInput.tsx
Owners: @skogsmaskin

fix(form/inputs): Track focusPath for a span's .text prop + harden test condition
  packages/sanity/src/core/form/inputs/PortableText/hooks/useTrackFocusPath.tsx
Owners: @skogsmaskin

fix(core/form/inputs): use useLayoutEffect over useEffect for focusPath tracking hook
  packages/sanity/src/core/form/inputs/PortableText/hooks/useTrackFocusPath.tsx
Owners: @skogsmaskin

test(playwright-ct): simplify focusPath tests
  packages/sanity/playwright-ct/tests/formBuilder/inputs/PortableText/FocusTracking.spec.tsx
  packages/sanity/playwright-ct/tests/formBuilder/inputs/PortableText/FocusTrackingStory.tsx
Owners: none

fix(core/inputs): always scroll to member, but don't re-apply same selection
  packages/sanity/src/core/form/inputs/PortableText/hooks/useTrackFocusPath.tsx
Owners: @skogsmaskin

test(playwright-ct): simplify focusPath tests
  packages/sanity/playwright-ct/tests/formBuilder/inputs/PortableText/FocusTracking.spec.tsx
  packages/sanity/playwright-ct/tests/formBuilder/inputs/PortableText/FocusTrackingStory.tsx
Owners: none

fix(core/form/inputs): use useLayoutEffect over useEffect for focusPath tracking hook
  packages/sanity/src/core/form/inputs/PortableText/hooks/useTrackFocusPath.tsx
Owners: @skogsmaskin

fix(form/inputs): Track focusPath for a span's .text prop + harden test condition
  packages/sanity/src/core/form/inputs/PortableText/hooks/useTrackFocusPath.tsx
Owners: @skogsmaskin

fix(core/inputs): support setting initial PTE selection
  packages/sanity/src/core/form/inputs/PortableText/Compositor.tsx
  packages/sanity/src/core/form/inputs/PortableText/PortableTextInput.tsx
Owners: @skogsmaskin

refactor(portable-text-editor): rename var to be more explicit
  packages/sanity/src/core/form/inputs/PortableText/Compositor.tsx
  packages/sanity/src/core/form/inputs/PortableText/PortableTextInput.tsx
Owners: @skogsmaskin

refactor(playwright-ct): make TestWrapper form agnostic
  packages/sanity/playwright-ct/tests/formBuilder/ArrayInputStory.tsx
  packages/sanity/playwright-ct/tests/formBuilder/inputs/PortableText/AnnotationsStory.tsx
  packages/sanity/playwright-ct/tests/formBuilder/inputs/PortableText/DecoratorsStory.tsx
  packages/sanity/playwright-ct/tests/formBuilder/inputs/PortableText/FocusTrackingStory.tsx
  packages/sanity/playwright-ct/tests/formBuilder/inputs/PortableText/InputStory.tsx
  packages/sanity/playwright-ct/tests/formBuilder/inputs/PortableText/ObjectBlockStory.tsx
  packages/sanity/playwright-ct/tests/formBuilder/inputs/PortableText/StylesStory.tsx
  packages/sanity/playwright-ct/tests/formBuilder/inputs/PortableText/ToolbarStory.tsx
  packages/sanity/playwright-ct/tests/formBuilder/utils/TestForm.tsx
  packages/sanity/playwright-ct/tests/formBuilder/utils/TestWrapper.tsx
Owners: none

test(playwright-ct): add test for focus tracking in PT-input
  packages/sanity/playwright-ct/tests/formBuilder/inputs/PortableText/FocusTracking.spec.tsx
  packages/sanity/playwright-ct/tests/formBuilder/inputs/PortableText/FocusTrackingStory.tsx
Owners: none

refactor(core/form/inputs): simplify focus handling
  packages/sanity/src/core/form/inputs/PortableText/Compositor.tsx
  packages/sanity/src/core/form/inputs/PortableText/Editor.tsx
  packages/sanity/src/core/form/inputs/PortableText/PortableTextInput.tsx
Owners: @skogsmaskin

test(playwrigth-ct): fix issue with Webkit tests
  packages/sanity/playwright-ct/tests/formBuilder/inputs/PortableText/FocusTracking.spec.tsx
Owners: none

test(playwright-ct): support document and focusPath props
  packages/sanity/playwright-ct/tests/formBuilder/utils/TestForm.tsx
  packages/sanity/playwright-ct/tests/formBuilder/utils/TestWrapper.tsx
Owners: none

doc(form): add doc and example for components extention of block type
  packages/sanity/src/core/form/types/definitionExtensions.ts
Owners: @bjoerge

fix(portable-text-editor): specify InputEvent event type for TS-type
  packages/@sanity/portable-text-editor/src/editor/Editable.tsx
  packages/@sanity/portable-text-editor/src/types/editor.ts
Owners: @skogsmaskin

fix(portable-text-editor): ensure that the range is valid before deleting
  packages/@sanity/portable-text-editor/src/editor/plugins/createWithEditableAPI.ts
Owners: @skogsmaskin

fix(portable-text-editor): allow overriding onKeyDown, onFocus, onBlur for Editable
  packages/@sanity/portable-text-editor/src/editor/Editable.tsx
Owners: @skogsmaskin

fix(portable-text-editor): fix issue where all the content is deleted
  packages/@sanity/portable-text-editor/src/editor/plugins/createWithEditableAPI.ts
Owners: @skogsmaskin

fix(core/inputs): fix issue with toolbar popover visibility toggling
  packages/sanity/src/core/form/inputs/PortableText/object/Annotation.tsx
  packages/sanity/src/core/form/inputs/PortableText/object/AnnotationToolbarPopover.tsx
Owners: @skogsmaskin

fix(form/inputs): fix bug with onRemove cb for TextBlock
  packages/sanity/src/core/form/inputs/PortableText/text/TextBlock.tsx
Owners: @skogsmaskin

.github/CODEOWNERS:

# These owners can be changed and added to in the future,
# for now these are the main people that we are required to have eyes on PRs
# that changed items in the given spaces

# ------------- Packages
# Espen owns any file in `/packages/@sanity/cli/`
# directory in the root of your repository and any of its
# subdirectories.
/packages/@sanity/cli/ @rexxars

/packages/sanity/src/core/preview/ @bjoerge @RitaDias

# Bj√∏rge owns any file in `/packages/sanity/src/core/form/`
# directory in the root of your repository and any of its
# subdirectories.
/packages/sanity/src/core/form/ @bjoerge
/packages/sanity/src/core/form/inputs/files/ @bjoerge @RitaDias

# PK owns any file related to PTE
# They are spread across different directories and subdirectories
/packages/@sanity/portable-text-editor/ @skogsmaskin
/packages/sanity/src/core/field/types/portableText/ @skogsmaskin
/packages/sanity/src/core/form/inputs/PortableText/ @skogsmaskin

# Tom owns the Shopify templates
/packages/@sanity/cli/src/actions/init-project/templates/shopify* @thebiggianthead
/packages/@sanity/cli/templates/shopify* @thebiggianthead

/packages/sanity/src/desk/comments/ @hermanwikner
