Repository sanity-io/sanity, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rexxars, @bjoerge, @RitaDias, @skogsmaskin, @thebiggianthead, @hermanwikner

chore(docs): expose @sanity/types docs in tsdoc
  dev/test-studio/package.json
  package.json
  packages/sanity/package.json
  packages/sanity/tsdoc.config.ts
  scripts/etl.ts
  yarn.lock
Owners: none

fix(test-studio): add custom badge to author schema type
  dev/test-studio/components/formComponents.tsx
  dev/test-studio/sanity.config.ts
Owners: none

fix(desk): edit logic for published- and change status message in document list
  packages/sanity/src/desk/components/DraftStatus.tsx
  packages/sanity/src/desk/components/PublishedStatus.tsx
Owners: none

chore: migrate to jest 28
  .github/workflows/test.yml
  .gitignore
  package.json
  packages/@sanity/portable-text-editor/package.json
  test/config.cjs
  test/jsdom.jest.env.ts
  test/resolver.cjs
  yarn.lock
Owners: @skogsmaskin

chore(test): ignore playwright tests
  packages/sanity/jest.config.cjs
Owners: none

chore: test jest sharding
  .github/workflows/test.yml
Owners: none

chore(test): add sharding
  .github/workflows/test.yml
  packages/@sanity/cli/test/shared/environment.ts
Owners: @rexxars

chore(test): revert ci changes from base
  .github/workflows/test.yml
Owners: none

chore(test): fix shard dataset name and remove unused deps
  .github/workflows/test.yml
  packages/@sanity/portable-text-editor/package.json
  yarn.lock
Owners: @skogsmaskin

chore(i18n): add no-literal-string lint exceptions for __workshop__ dirs (#5064)
  packages/sanity/src/core/changeIndicators/__workshop__/.eslintrc
  packages/sanity/src/core/components/collapseMenu/__workshop__/.eslintrc
  packages/sanity/src/core/components/commandList/__tests__/.eslintrc
  packages/sanity/src/core/components/commandList/__workshop__/.eslintrc
  packages/sanity/src/core/components/image/__workshop__/.eslintrc
  packages/sanity/src/core/components/previewCard/__workshop__/.eslintrc
  packages/sanity/src/core/components/previews/__workshop__/.eslintrc
  packages/sanity/src/core/components/rovingFocus/__workshop__/.eslintrc
  packages/sanity/src/core/components/textWithTone/__workshop__/.eslintrc
  packages/sanity/src/core/components/userAvatar/__workshop__/.eslintrc
  packages/sanity/src/core/field/__workshop__/.eslintrc
  packages/sanity/src/core/form/__workshop__/.eslintrc
  packages/sanity/src/core/form/components/formField/__workshop__/.eslintrc
  packages/sanity/src/core/form/inputs/PortableText/__workshop__/.eslintrc
  packages/sanity/src/core/form/inputs/PortableText/_legacyDefaultParts/__tests__/.eslintrc
  packages/sanity/src/core/form/inputs/__workshop__/.eslintrc
  packages/sanity/src/core/form/inputs/files/__workshop__/.eslintrc
  packages/sanity/src/core/preview/__workshop__/.eslintrc
  packages/sanity/src/core/schema/__workshop__/.eslintrc
  packages/sanity/src/core/store/_legacy/__workshop__/.eslintrc
  packages/sanity/src/core/studio/components/navbar/__workshop__/.eslintrc
  packages/sanity/src/core/studio/components/navbar/search/__workshop__/.eslintrc
  packages/sanity/src/desk/__workshop__/.eslintrc
  packages/sanity/src/desk/components/pane/__workshop__/.eslintrc
  packages/sanity/src/desk/panes/document/statusBar/__workshop__/.eslintrc
  packages/sanity/src/desk/panes/document/timeline/__workshop__/.eslintrc
Owners: @bjoerge, @skogsmaskin, @RitaDias

chore(test): split install and test jobs
  .github/workflows/test.yml
  package.json
  yarn.lock
Owners: none

chore(test): restore npm cache in test step
  .github/workflows/test.yml
Owners: none

chore(test): add install step
  .github/workflows/test.yml
Owners: none

chore(test): fix cache name
  .github/workflows/test.yml
Owners: none

chore(test): install playwright in test steps
  .github/workflows/test.yml
Owners: none

chore(test): move playwright install after install
  .github/workflows/test.yml
Owners: none

chore(test): upgrade to jest 29
  package.json
  packages/@sanity/portable-text-editor/package.json
  test/config.cjs
  yarn.lock
Owners: @skogsmaskin

chore(test): dedupe yarn.lock
  yarn.lock
Owners: none

.github/CODEOWNERS:

# These owners can be changed and added to in the future,
# for now these are the main people that we are required to have eyes on PRs
# that changed items in the given spaces

# ------------- Packages
# Espen owns any file in `/packages/@sanity/cli/`
# directory in the root of your repository and any of its
# subdirectories.
/packages/@sanity/cli/ @rexxars

/packages/sanity/src/core/preview/ @bjoerge @RitaDias

# Bj√∏rge owns any file in `/packages/sanity/src/core/form/`
# directory in the root of your repository and any of its
# subdirectories.
/packages/sanity/src/core/form/ @bjoerge
/packages/sanity/src/core/form/inputs/files/ @bjoerge @RitaDias

# PK owns any file related to PTE
# They are spread across different directories and subdirectories
/packages/@sanity/portable-text-editor/ @skogsmaskin
/packages/sanity/src/core/field/types/portableText/ @skogsmaskin
/packages/sanity/src/core/form/inputs/PortableText/ @skogsmaskin

# Tom owns the Shopify templates
/packages/@sanity/cli/src/actions/init-project/templates/shopify* @thebiggianthead
/packages/@sanity/cli/templates/shopify* @thebiggianthead

/packages/sanity/src/desk/comments/ @hermanwikner
